.commonContent {
    padding: 0 0 20px 0;
  }
  
  .commonContent h2 {
    font-size: 25px;
    margin-bottom: 15px;
    font-weight: normal;
    color: #c3dae0;
  }

  .commonContent h3 {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bold;
    color: #9FB1B2;
  }
  
  .commonContent hr {
    border: 0;
    border-bottom: 1px solid #5f6c73;
    margin: 5px 0 10px 0;
    height: 2px;
    width: 100%;
  }

  .commonContent Button {
    font-size: 14px;
    padding: 4px 8px;
    border-radius: 4px;
  }

  :global(.card) {
    background-color: #333d3f;
  }

  :global(.card-title) {
    color: #c3dae0;
    font-weight: normal;
  }

  :global(.card-text) {
    color: #9FB1B2;
  }

  :global(.card-subtitle) {
    color: #c3dae0;
    font-size: 13px;
    text-align: right;
    font-weight: normal;
  }
  
  :global(.text-muted) {
    color: #c3dae0 !important;
  }